<header>
  <mat-toolbar color="primary">
    <table style="width:100%; height:100%">
      <tr style="width:100%; height:100%">
        <td width="3%" valign="middle">
          <img src = '../../assets/logo.png' width = "40" hight = "40">
        </td>
        <td width="50%" valign="middle">
          <a class="title">Build-A-Meal</a>
          <a [routerLink]="['/']" class="logo-main"></a>
        </td>
        <td style="text-align:right" valign="middle">
          <a class="visit-team-page-link" href="mailto:info@build-a-meal.net">&#9993; info@build-a-meal.net</a>
          <a class="logo-small"></a> <br>
          <a class="visit-team-page-link" href="http://cs480-projects.github.io/teams-fall2018/PerlsOfTheC/index.html">
            <img src = '../../assets/logo.png' width = "20" height = "20">Visit our team page!</a>
        </td>
      <tr>
    </table>
  </mat-toolbar>
</header>
