header {
    width: 100%;

    .top {
      margin: 0px;
      height:9vh;
      background-color: white;
      position: fixed;
      right: 0;
      left: 0;
      z-index: 999;
      border: 0.75vh solid #b3cccc;
      display: table-cell;
      overflow: auto;
    }

  .logo-small {
    background-image: url('../../assets/logo.png');
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
  }

    .title {
      color: black;
      font-family: Dosis, sans-serif;
      font-size: 30px;
      align: top;
      text-decoration: none;
    }
    .visit-team-page-link {
      color: black;
      font-family: Dosis, sans-serif;
      font-size: 15px;
      text-decoration: none;
      //align: middle
      text-align: left;
      vertical-align: middle;
      //font-weight: initial;
      //letter-spacing: -1px;
      //line-height: 1;
      //text-align: center;
      //padding: 15px;
      //&.side {
      //  padding: 0 14px;
      //}
    }

    .mat-toolbar {
      margin: 0px;
        height:10vh;
        background-color: white;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 999;
        border: 0.75vh solid #b3cccc;
        display: table-cell;
        overflow: auto;
        line-height: 18px;
    }

    a {
      cursor: pointer;
    }
  }
